[submodule "src/VRCFaceTracking"]
	path = src/VRCFaceTracking
	url = https://github.com/dfgHiatus/VRCFaceTracking.git
[submodule "src/DesktopNotifications"]
	path = src/DesktopNotifications
	url = https://github.com/dfgHiatus/DesktopNotifications.git
[submodule "src/HyperText.Avalonia"]
	path = src/HyperText.Avalonia
	url = https://github.com/dfgHiatus/HyperText.Avalonia.git
[submodule "src/SimpleRustOSC"]
	path = src/SimpleRustOSC
	url = https://github.com/dfgHiatus/SimpleRustOSC.git
